.app {
    display: flex;
    padding: 30px;
}

.game {
    /* width and height is nicely divisible by 8 */
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
}

.game img {
    /* 560/8 = 70px */
    width: 70px;
    height: 70px;
}